.contents-container {
  left: 248px;
  width: calc(100% - 248px);
  height: 100%;
  background-color: var(--contentsBackground);
  z-index: 1;
}
.contents-container .content-nav {
  width: 100%;
  height: 30px;
  padding-left: 10px;
}
.contents-container .content-nav .nav-view span:before {
  padding-right: 10px;
  font-size: 20px;
  color: var(--primaryTextColor);
}
.contents-container .content-nav .nav-view span:hover:before {
  cursor: pointer;
  font-size: 22px;
}
.contents-container .content-wrapper {
  height: calc(100% - 65px);
}
.contents-container .content,
.contents-container .content-preview {
  height: calc(100% - 65px);
  background-color: var(--contentsBackground);
  overflow-y: scroll;
  border-top: 1px solid;
  transition:all .5s ease-in-out;
  border-color: var(--contentsTabTopBorderColor);
}
.contents-container .content-preview {
  padding: 15px;
}
.contents-container .content .line-number {
  width: 40px;
  color: var(--contentsContentLineNumberFontColor);
  padding-right: 10px;
}
.contents-container .content .line-content {
  width: calc(100% - 40px);
  padding-left: 5px;
  padding-right: 5px;
}

.minimapWindow {
  width: 60px;
  height: 200px;
  overflow: auto;
  overflow: hidden;
  z-index: 100;
}

.minimapWindow__preview {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left top;
  max-height: 400vh;
  overflow: hidden;
}
