::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /*background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);*/
  background-color: var(--appScrollBackground);
}

.explorer {
  left: 48px;
  width: 200px;
  height: 100%;
  background-color: var(--explorerBackground);
  z-index: 10;
  overflow-y: auto;
}

.component-list {
  width: 100%;
  color: var(--explorerComponentlistFontColor);
}
.component-list .component-title {
  height: 35px;
}
.component-list .component-title span {
  color: var(--explorerComponentTitleFontColor);
}
.component-list .border-select {
  background-color: var(--explorerComponentBackground);
  border: 1px solid var(--explorerRepositoryTitleBorderColor);
}
.component-list .border-no-select {
  background-color: var(--explorerComponentBackground);
  border-left: 1px solid var(--explorerBackground);
  border-right: 1px solid var(--explorerBackground);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--explorerComponentBorderColor);
}
.component-list .component {
  height: 30px;
}

.component span {
  color: var(--explorerRepositoryTitleFontColor);
}
.component .codicon-chevron-right:before,
.component .codicon-chevron-down:before {
  font-weight: normal;
  font-size: 16px;
}

.repository-list .codicon-link,
.repository-list .markdown,
.repository-list .html,
.repository-list .json {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.repository-list .markdown:before,
.repository-list .html:before,
.repository-list .json:before {
  width: 22px;
  height: 30px;
  content: " ";
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  line-height: inherit !important;
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
}
.repository-list .codicon-link:before {
  width: 22px;
  height: 30px;
  content: "\eb15";
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  line-height: inherit !important;
  vertical-align: bottom;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repository-list .markdown:before {
  background-image: url("../images/md.svg");
}
.repository-list .html:before {
  background-image: url("../images/html.svg");
}
.repository-list .json:before {
  background-image: url("../images/json.svg");
}
.repository-list ul li {
  color: var(--explorerComponentlistFontColor);
  height: 30px;
  font-size: 13px;
}
.repository-list ul li:hover,
.repository-list ul li.page-select {
  background-color: var(--explorerComponentlistSelectBackgroundColor);
}
.repository-list .codicon-chevron-right:before,
.repository-list .codicon-chevron-down:before {
  font-weight: normal;
  font-size: 16px;
  padding-right: 4px;
  text-align: center;
}
