.main-left {
  left: 48px;
  width: 300px;
  background-color: var(--mainLeftBackground);
  z-index: 1;
}

.component-list {
  width: 100%;
  color: var(--mainLeftGithubFontColor);
}
.component-list .component-title {
  height: 35px;
}
.component-list .component-title span {
  color: var(--mainLeftGithubTitleFontColor);
}
.component-list .border-select {
  background-color: var(--mainLeftComponentBackground);
  border: 1px solid var(--mainLeftRepositoryTitleBorderColor);
}
.component-list .border-no-select {
  background-color: var(--mainLeftComponentBackground);
  border-left: 1px solid var(--mainLeftBackground);
  border-right: 1px solid var(--mainLeftBackground);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--mainLeftComponentBorderColor);
}
.component-list .component {
  height: 22px;
}

.component span {
  color: var(--mainLeftRepositoryTitleFontColor);
}
.component .codicon-chevron-right:before,
.component .codicon-chevron-down:before {
  font-weight: normal;
  font-size: 16px;
}

.repository-list .folder:before {
  width: 22px;
  height: 22px;
  content: ' ';
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  background-image: url("../images/folder.svg");
  line-height: inherit!important;
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
}
.repository-list ul li {
  color: var(--mainLeftGithubFontColor);
  height: 22px;
  font-size: 13px;
}
.repository-list .codicon-chevron-right:before,
.repository-list .codicon-chevron-down:before {
  font-weight: normal;
  font-size: 16px;
  padding-right: 4px;
  text-align: center;
}
