.terminal {
    top: 550px;
    left: 248px;
    width: calc(100% - 248px);
    height: calc(100% - 550px);
    border-top: 1px solid var(--terminalTopBorderColor);
    background-color: var(--terminalBackground);
    z-index: 150;
}
