html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0s !important;
}

html {
  --primaryBackground: rgb(40, 42, 54);
  --primaryTextColor: rgb(255, 255, 255);

  --menuBarBackground: rgb(52, 56, 70);
  --menuBarPrimaryFontColor: rgb(98, 114, 164);
  --menuBarSecondFontColor: rgb(255, 255, 255);
  --menuBarSelectBorderColor: rgb(255, 114, 164);
  --menuBarSelectBackgroundColor: rgb(60, 61, 81);
  --menuBarSettingLayerBackground: rgb(52, 55, 70);
  --menuBarSettingLayerListBorderColor: rgb(106, 108, 117);
  --menuBarSettingLayerSelectFontColor: rgb(248, 248, 242);
  --menuBarSettingLayerSelectBackgroundcolor: rgb(68, 71, 90);
  --menuBarLayerFontColor: rgb(255, 255, 255);

  --explorerBackground: rgb(33, 35, 44);
  --explorerComponentBorderColor: rgb(25, 26, 33);
  --explorerComponentBackground: rgb(40, 42, 54);
  --explorerGithubFontColor: rgb(248, 248, 242);
  --explorerGithubTitleFontColor: rgb(248, 248, 242);
  --explorerRepositoryTitleFontColor: rgb(248, 248, 242);
  --explorerRepositoryTitleBorderColor: rgb(98, 114, 164);

  --contentsBackground: rgb(40, 42, 54);
  --contentsTabBackground: rgb(25, 26, 33);
  --contentsTabTopBorderColor: rgb(189, 147, 249);

  --terminalBackground: rgb(40, 42, 54);
  --terminalTopBorderColor: rgb(189, 147, 249);

  --footerBackground: rgb(25, 26, 33);
}

html[data-theme="dark"] {
  --primaryBackground: rgb(40, 42, 54);
  --primaryTextColor: rgb(255, 255, 255);

  --menuBarBackground: rgb(51, 51, 51);
  --menuBarPrimaryFontColor: rgba(255, 255, 255, 0.4);
  --menuBarSecondFontColor: rgb(255, 255, 255);
  --menuBarSelectBorderColor: rgb(255, 255, 255);
  --menuBarSelectBackgroundColor: rgb(51, 51, 51);
  --menuBarSettingLayerBackground: rgb(37, 37, 38);
  --menuBarSettingLayerListBorderColor: rgb(106, 108, 117);
  --menuBarSettingLayerSelectFontColor: rgb(236, 241, 244);
  --menuBarSettingLayerSelectBackgroundcolor: rgb(9, 71, 113);
  --menuBarLayerFontColor: rgb(178, 178, 178);

  --explorerBackground: rgb(33, 35, 44);
  --explorerComponentBorderColor: rgb(25, 26, 33);
  --explorerComponentBackground: rgba(0, 0, 0, 0);
  --explorerGithubFontColor: rgb(204, 204, 204);
  --explorerGithubTitleFontColor: rgb(187, 187, 187);
  --explorerRepositoryTitleFontColor: rgb(204, 204, 204);
  --explorerRepositoryTitleBorderColor: rgb(0, 127, 212);

  --contentsBackground: rgb(31, 31, 31);
  --contentsTabBackground: rgb(45, 45, 45);
  --contentsTabTopBorderColor: rgb(65, 65, 65);

  --terminalBackground: rgb(31, 31, 31);
  --terminalTopBorderColor: rgb(65, 65, 65);

  --footerBackground: rgb(1, 121, 203);
}

body {
  background: var(--primaryBackground);
  color: var(--primaryTextColor);
  font-size: 11px;
}
